<%= form_for(@program_entry) do |f| %>
  <%= errors_for @program_entry %>

<%= f.hidden_field :program_id %>
<h3>Version du programme <%= @program_entry.program.version %> </h3>

  <div class="in_a_form"> Créneau <%= f.text_field :slot  %> </div>
  <div class="in_a_form"> Track <%= f.text_field :track %> </div>
  <div class="in_a_form"> Session N° <%= f.text_field :session_id %> </div>
  <div class="in_a_form"> Commentaire <%= f.text_field :comment %> </div>
  <div class="in_a_form"> S'étendre sur toute la durée <%= f.check_box :span_entire_row %> </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

