<%= form_for(@program_entry, remote: true) do |f| %>
  <div class="popup">
    <%= errors_for @program_entry %>

    <%= f.hidden_field :program_id %>
    <%= f.hidden_field :slot %>
    <%= f.hidden_field :track %>

    <h3>Version du programe <%= @program_entry.program.version %> </h3>

    <div class="in_a_form"> Session N° <%= f.text_field :session_id, size: 3 %> 
                            S'étendre sur toute la durée <%= f.check_box :span_entire_row %> </div>
    <div class="in_a_form"> Commentaire <%= f.text_area :comment, cols: 20, rows: 1 %> </div>

    <div class="actions">
      <%= f.submit %>
      <a onclick="$(this).closest('form').remove()">cancel</a>
    </div>

  </div>
<% end %>

