<%= form_for(@session) do |f| %>
  <%= errors_for @session %>

  <% if !@session.complete? %>
    <div class="flashy">
      Plusieurs champs importants ne sont pas remplis dans cette session. <br/>
    </div>
    <div>
      Vérifiez les champs suivants:
      <%= Session.fields_that_need_to_be_complete_printable %>
      <br/> <br/>
    </div>
  <% end %>

  <div class="in_a_form">
    <div> <%= f.label :title %>*: </div>
    <div> <%= text_area :session, :title, :cols => "100", :rows => "1"  %> </div>
  </div>
  <div class="in_a_form">
    <div> <%= f.label :sub_title %>: <i>Parfois vous avez un titre accrocheur mais qui ne décrit pas le contenu de votre session. Un sous-titre peu aider. Faites court! </i> </div>
    <div> <%= text_area :session, :sub_title, :cols => "100", :rows => "1"  %> </div>
  </div>


  <div >
    <table class="sessiontable">
      <tr>
        <td class="sessiontable_label" width="100px">
          <div> <%= f.label :first_presenter_email %>*: <i><%= !current_account.maintainer? || "(modifiable seulement par les mainteneurs)" %></i> </div>
        </td>
        <td class="sessiontable_label">
          <div> <%= f.label :second_presenter_email %>: <i><%= !current_account.maintainer? || "(modifiable seulement par les mainteneurs)" %></i> </div>
        </td>
      </tr>
      <tr>
        <td class="sessiontable" >
          <%= f.text_area :first_presenter_email, :cols => "48", :rows => "1", :disabled =>  (!current_account.maintainer?) %>
        </td>
        <td class="sessiontable">
          <%= f.text_area :second_presenter_email, :cols => "48", :rows => "1", :disabled =>  (!current_account.maintainer?) %>
        </td>
      </tr>
    </table >
  </div>

  <%if current_account.maintainer? %>
    <div >
      <div> <%= f.label :state %>: <i><%= !current_account.maintainer? || "(visible et modifiable seulement par les mainteneurs)" %></i> </div>
      <div>  <%= f.select :state, Session::AVAILABLE_STATES, :include_blank => false %> </div>
    </div>
  <%  end %>

  <p >
  <div> <%= f.label :short_description %>: <i> apparaitra dans les "Cartes de Session" sur le "Tableau du Programme" à la conférence. &Ccedil;a devrait &ecirc;tre un teaser. </i>
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %>
  </div>
  <div> <%= text_area :session, :short_description, :cols => "100", :rows => "6"  %> </div>
  </p>

  <div >
    <div> <%= f.label :session_goal %>: <i> Que pensez-vous que les participants retireront de cette session?</i> </div>
    <div> <%= text_area :session, :session_goal, :cols => "100", :rows => "1"  %> </div>
  </div>




  <div>
    <table class="sessiontable">
      <tr>
        <td class="sessiontable_label" width="100px">
          <%= f.label :session_type %>:<br/>
          <i class="session_explanation"> track francophone ou internationale ? </i>
        </td>
        <td class="sessiontable_label">
          <%= f.label :max_participants %>:
        </td>
      </tr>
      <tr>
        <td class="sessiontable" >
          <%= f.select :session_type, Session::AVAILABLE_SESSION_TYPE, :include_blank => true %>
        </td>
        <td class="sessiontable">
          <%= text_area :session, :max_participants, :cols => "48", :rows => "1"  %>
        </td>
      </tr>
      <tr>
        <td class="sessiontable_label">
          <label for="session_topic">Track</label>:
          <i> détermine la couleur de votre session</i>
        </td>
        <td class="sessiontable_label">
          <%= f.label :laptops_required %>:
          <i> for session participants </i>
        </td>
      </tr>
      <tr>
        <td class="sessiontable">
          <%= f.select :topic,  Session::AVAILABLE_TOPICS_AND_NAMES_FOR_SELECT, :include_blank => true %>
        </td>
        <td class="sessiontable">
          <%= f.select :laptops_required, Session::AVAILABLE_LAPTOPS_REQUIRED, :include_blank => true %>
        </td>
      </tr>
      <tr>
        <td class="sessiontable_label">
          <%= f.label :duration %>:
        </td>
        <td class="sessiontable_label">
          <%= f.label :other_limitations %>:
        </td>
      </tr>
      <tr>
        <td class="sessiontable">
          <%= f.select :duration,  Session::AVAILABLE_DURATION, :include_blank => true %>
        </td>
        <td class="sessiontable">
          <%= text_area :session, :other_limitations, :cols => "48", :rows => "1"  %>
        </td>
      </tr>
      <tr>
        <td class="sessiontable_label">
          <%= f.label :room_setup %>: <i> eg: conference, groupes (ilots), salle de classe, espace dégagé ...</i>
        </td>
        <td class="sessiontable_label">
          <%= f.label :intended_audience %>:
          <i> Qui profitera le plus de votre session ?
            Jetez un oeil aux fiches de <a href="/sessions/personas" target="_blank">Personas</a>
            pour avoir des idées de ce que les participants attendent d'Agile Grenoble 2014.</i>
        </td>
      </tr>
      <tr>
        <td class="sessiontable">
          <%= text_area :session, :room_setup, :cols => "48", :rows => "1"  %>
        </td>
        <td class="sessiontable">
          <%= text_area :session, :intended_audience, :cols => "48", :rows => "1"  %>
        </td>
      </tr>
      <tr>
        <td class="sessiontable_label">
          <%= f.label :materials_needed %>:
          <i> extra stuff you need the organisers to arrange for your session </i>
        </td>
        <td class="sessiontable_label">
          <%= f.label :experience_level %>:
          <i> do you expect them to have certain knowledge or experience?</i>
        </td>
      </tr>
      <tr>
        <td class="sessiontable">
          <%= text_area :session, :materials_needed, :cols => "48", :rows => "1"  %>
        </td>
        <td class="sessiontable">
          <%= text_area :session, :experience_level, :cols => "48", :rows => "1"  %>
        </td>
      </tr>
    </table>
  </div>

  <div class="in_a_form">
    <div>
      <%= f.label :description %>*: <i> this will appear on the website, and they will also be displayed on the wall during the conference -> public description </i>
      <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %>
    </div>
    <div> <%= text_area :session, :description, :cols => "100"  , :rows => "20"%> </div>
  </div>
  <div class="in_a_form">
    <div>
      <%= f.label :outline_or_timetable %>: <i> this section contains a detailed outline of your session. It will not be viewable by the public, only by reviewers </i>
      <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %>
    </div>
    <div> <%= text_area :session, :outline_or_timetable, :cols => "100", :rows => "10"  %> </div>
  </div>
  <div class="in_a_form">
    <div> <%= f.label :material_description %>: <i>Descriptive text for the link to your session materials</i> </div>
    <div> <%= text_field :session, :material_description, :size => 128 , :maxlength => 128 %> </div>
  </div>
  <div class="in_a_form">
    <div> <%= f.label :material_url %>: <i>Absolute URL to your session materials</i> </div>
    <div> <%= text_field :session, :material_url, :size => 128 , :maxlength => "1024" %> </div>
  </div>
  <div >
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
