<%= form_for(@session) do |f| %>
  <%= errors_for @session %>

<% if !PropileConfig.submit_session_active? %> 
  <div>
  <b>L'appel à orateurs est clôt ! Seuls les orga peuvent déposer des sujets. <br />
  Vous pouvez activer le dépôt de sessions dans le <%= link_to "Configuration", propile_configs_path %>.</b> <br />
  </div>
<% end %> 

<div class="outlined">
   Le dépôt de sujets se passe en 2 &eacute;tapes. </br>
   <ul>
     <li>Etape 1: Déposez une proposition de haut niveau </li>
     <li>Etape 2: Complétez votre proposition de manière itérative et incrémentale au fur et à mesure des questions ou du feedback que vous recevez </li>
   </ul>
   
   Après l'étape 1, vous recevrez des identifiants de connexion au site de gestion des propositions de sessions.<br/>
   Aidez les autres orateurs à améliorer leurs propositions, à partir du feedback par les pairs. 
   Vous pouvez donner du feedback sur les propositions des autres et améliorer votre proposition à partir du feedback que vous recevez. 
   De cette façon nous arriverons à un bel ensemble de sessions qualitatives par un processus ouvert, collaboratif et communautaire.
</div>

<div class="in_a_form"> 
  <div> <%= f.label :title %>*: </div>
  <div> <%= text_area :session, :title, :cols => "100", :rows => "1"  %> </div>
</div>
<div class="in_a_form"> 
  <div> <%= f.label :sub_title %>: <i>parfois votre titre est accrocheur mais ne décrit pas bien le contenu de votre session. Un sous-titre peut aider, mais faites court !</i> </div> 
  <div> <%= text_area :session, :sub_title, :cols => "100", :rows => "1"  %> </div>
</div>


<div > 
  <table class="sessiontable">
    <tr> 
      <td class="sessiontable" width="100px">  
          <div> <%= f.label :first_presenter_email %>*: </div>
      </td>
      <td class="sessiontable">  
          <div> <%= f.label :second_presenter_email %>: </div>
      </td>
    </tr>
    <tr> 
      <td class="sessiontable" >  
        <%= f.text_area :first_presenter_email, :cols => "48", :rows => "1" %> 
      </td>
      <td class="sessiontable">  
        <%= f.text_area :second_presenter_email, :cols => "48", :rows => "1" %> 
      </td>
    </tr>
  </table >
</div>



<div class="in_a_form"> 
  <div> 
    <%= f.label :description %>*: <i> ceci va apparaitre sur le site, et sera affichée dans le programme durant la conférence -> description publique</i> 
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> 
  </div>
  <div> <%= text_area :session, :description, :cols => "100"  , :rows => "20"%> </div>
</div>
  <div class="captcha"><%= recaptcha_tags :display => { :theme => 'white', :lang => I18n.locale } %></div>

<div > 
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
