<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Propile: Toutes les mises à jour</title>
    <link><%= url_for :action => 'index' , :controller => 'sessions' , :only_path => false %></link>
    <description>Toutes les mises à jour dans la préparation du programme Agile Grenoble 2014</description>
    <language>fr-fr</language>
    <pubDate><%= @last_update.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
    <lastBuildDate><%= @last_update.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></lastBuildDate>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <generator>Propile</generator>
    <managingEditor><%= Propile::Application.mail_sender %></managingEditor>
    <webMaster><%= Propile::Application.mail_sender %></webMaster>
    <% @sessions.each do |this_session| %>
      <%= render 'sessions/session_rss' , :this_session => this_session %>

      <% this_session.reviews.each do |review| %>
        <%= render 'reviews/rss', :this_session => this_session , :review => review %>
      <%  end %>
    <% end  %>
  </channel>
</rss>