<%= title "#{@session.title}" %>
<%= errors_for @new_review %>

<% if @anchor %>
  <script type="text/javascript">
    window.location.hash = "<%= @anchor %>";
  </script>
<% end %>


<%= content_for :sub_menu do %> 
  <%= guarded_link_to 'Modifier cette session', controller: 'sessions', action: 'edit', id: @session.to_param %>
  <%= link_to 'Carte imprimable (PDF)', controller: 'sessions', action: 'program_board_card', id: @session.to_param, format: "pdf" %>
  <%= link_to 'Description imprimable (PDF)', controller: 'sessions', action: 'show', id: @session.to_param, format: "pdf" %>
  <%= link_to 'Fil RSS', controller: 'sessions', action: 'rss', format: :xml, id: @session.to_param %>
  <%= link_to 'retour à la liste des sessions', sessions_path %>
<% end %>

<%= content_for :extra_info do %> 
  <% if PropileConfig.voting_active?  %>
    <div class="flashy">
      <% if @current_presenter_has_voted_for_this_session  %>
        Vous avez voté pour cette session
        --> <%= link_to 'Supprimer mon vote', @my_vote, method: :delete %>
      <% else %>
        <%= link_to 'Voter pour cette session', session_votes_path(@session), method: :post %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= content_for :created_and_modified do %> 
  Session créée: <%= l @session.created_at %> --
  Modifiée: <%= l @session.updated_at %>
<% end %>

<% if @session.canceled? %>
  <div class="flashy">CETTE SESSION A ETE ANNULEE</div>
<%else%>
  <div>
    by <i>Nom de l'orateur masqué volontairement</i>  <!--<%= session_presenter_names(@session) %>-->
    <hr />
  </div>
  <%= render :partial => 'sessions/export_description',:locals => { :this_session => @session }  %>
  <!--
  <% if  @session.presenters[0]  %>
    <%= render :partial => 'presenters/export_description',:locals => { :this_presenter => @session.presenters[0] }  %>
  <% end %>
  <% if  @session.presenters[1] %>
    <%= render :partial => 'presenters/export_description',:locals => { :this_presenter => @session.presenters[1] }  %>
  <% end %>
  -->
  <%= render 'sessions/show_short', :session => @session  %>
<% end %>


<h2> Revues pour cette session: </h2>
<div>
  <i>Les revues sont faites au format <%= link_to 'Perfection Game', "/pages/index#PerfectionGame", :target => '_blank' %>.
    Voir ici ce que nous attendons d'une <%= link_to 'bonne session', "/pages/index#ReviewCriteria", :target => '_blank' %>
  </i>
</div>

<div>
  <% @session.reviews.each_with_index do |review, i| %>
    <%= collapse_button_initially_open ("session_review_#{review.id}") %>
    <div id="session_review_<%=review.id%>" style="display:block;" class="review">
      <% if defined?(@edit_review) && !@edit_review.nil? && @edit_review.id==review.id %>
        <%= render 'reviews/form', :review=>@edit_review %>
      <% else %>
        <%= render 'reviews/show', :review => review  %>
      <% end %>
      <div class="alignright">
        <%= guarded_link_to 'Modifier la revue', controller: 'reviews', action: 'edit', id: review  %> &nbsp;
      </div>

      <% if review.comments.size!=0 %>
        <h3> Commentaires sur cette revue: </h3>
        <div>
          <% review.comments.each_with_index do |comment, j| %>
            <%= collapse_button_initially_open ("session_review_#{review.id}_comment_#{comment.id}") %>
            <div id="session_review_<%=review.id%>_comment_<%=comment.id%>" style="display:block;" class="comment">
              <% if defined?(@edit_comment) && !@edit_comment.nil? && @edit_comment.id==comment.id %>
                <%= render 'comments/form', :comment=>@edit_comment %>
              <% else %>
                <%= render 'comments/show', :comment => comment  %>
              <% end %>
              <div class="alignright">
                <%= guarded_link_to 'Modifier ce commentaire', controller: 'comments', action: 'edit', id: comment %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= collapse_button_initially_open ("session_review_#{review.id}_comment_new") %>
      <div id="session_review_<%=review.id%>_comment_new" style="display:block;" class="comment">
        <h4>Faire un nouveau commentaire sur cette revue: </h4>
        <% if defined?(@new_comment) && !@new_comment.nil? && @new_comment.review.id==review.id
          new_comment = @new_comment
        else
          new_comment = review.comments.build
          new_comment.presenter = @current_presenter
        end
      %>
        <%= render 'comments/form', :comment=>new_comment %>
      </div>
    </div>
  <% end %>

  <%= collapse_button_initially_open ("session_review_new") %>
  <div id="session_review_new" style="display:block;" class="review">
    <h3>Faire une nouvelle revue: </h3>
    <% if !defined?(@new_review) || @new_review.nil?
      @new_review = @session.reviews.build
      @new_review.presenter = @current_presenter
    end
  %>
    <%= render 'reviews/form', :review=>@new_review %>
  </div>
</div>





