<h4>Commentée par <%= link_to w(comment.presenter.name), comment.presenter %></h4>

<div class="lessoutlined ">
  <%= wikinize( comment.body ) %>
</div>


<% if !comment.new_record? %> 
<div class="alignright">
  Commentaire Créé: <%= l comment.created_at %> -- 
  Modifié: <%= l comment.updated_at %>  
  par <%= link_to w(comment.presenter.name), comment.presenter %>
</div>
<% end %>
