<%= title "Edition de commentaire sur la revue pour: #{@comment.review.session.title}" %>
<%= content_for :sub_menu do %> 
  <%= link_to 'Retour à Session', @edit_comment.review.session %>
<% end %>

<%= content_for :extra_info do %> 
  <div><i>Le but de la revue est d'aider à améliorer cette session proposée.</i></div>
<% end %>

<%= content_for :created_and_modified do %> 
  Creatée: <%= l @comment.created_at %> -- 
  Modifiée: <%= l @comment.updated_at %> 
<% end %>

<%= render 'form', :comment=>@edit_comment %>

