<%= content_for :extra_info do %> 
  <i> Cette page est pour les modérateurs seulement </i>
<% end %>

<h1>Configuration</h1>

<table>
  <tr>
    <td> Activé la soumission de session: </td> 
    <td> <%= PropileConfig.submit_session_active? %>  </td> 
    <td> 
      <%= form_for(PropileConfig.new, :url => url_for(:action => 'toggle'), method: :put ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::SUBMIT_SESSION_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
    <td> <i> si faux, seulement les modérateur pouvent soumettre une session. </i>
    </td>
  </tr> 
  <tr>
    <td> Activé la votation: </td> 
    <td> <%= PropileConfig.voting_active? %> </td> 
    <td> 
      <%= form_for(PropileConfig.new, :url => url_for(:action => 'toggle'), method: :put ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::VOTING_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
    <td> <i> La votation deviens active 2 semaines avant la réunion de validation du programme </i> </td>
  </tr> 
  <tr>
    <td> Activé la consultation du présentateur: </td>
    <td> <%= PropileConfig.show_presenter_active? %> </td>
    <td>
      <%= form_for(PropileConfig.new, :url => url_for(:action => 'toggle'), method: :put ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::SHOW_PRESENTER_ACTIVE %>
        <%= f.submit 'toggle' %>
      <% end %>
    </td>
    <td> <i> Voir les présentateurs de session quand le programme est validé </i> </td>
  </tr>
</table>

<h1>Configuration pour tests</h1>
<div> <i> Non sauvé! (perdu quand le serveur redémarre)</i></div>
<table>
  <tr>
    <%= form_for(PropileConfig.new, :url => url_for(:action => 'change_last_login'), method: :put ) do |f| %>
      <td> Dernière connexion (compte courrant): </td> 
      <!--td> <%= f.text_field  "new_last_login", :value => current_account.last_login %> </td--> 
      <td> <%= f.text_field  "new_last_login", :value => session[:previous_login] %> </td> 
      <td> <%= f.submit "update" %> </td>
      <td> <i> temps de la précedente connexion (par session) --> pour tester les functionalités de tableau de bord. </i>
      </td>
    <% end %>
  </tr> 
</table>

<div id="account-creation">
  <h1>Modérateurs</h1>
  <%= link_to 'Nouveau présentateur/Modérateur', new_presenter_path, :remote => true, :id => "new_presenter_link" %>   
  <p id="confirmation-sent">Confirmation par courriel a été envoyé</p>
  <table>
  <% @presenters.each_with_index do |presenter, i| %>
    <% if presenter.account.maintainer? %>
      <tr >
        <td> <%= i+1 %> </td>
        <td> <%= link_to presenter.name, presenter %></td>
        <td><%= presenter.email%> </td>
        <td class="nowrap" ><%= l presenter.created_at %> </td>
        <td class="nowrap" ><%= l presenter.updated_at %> </td>
        <td><%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: presenter.to_param %></td> 
      </tr>
    <% end %>
  <% end %>
  </table>
</div>


<br>
<br>
<br>

<div class="outlined">
  <%= button_to 'commencer une nouvelle conférence',  {action: 'start_conference'}, method: :get, confirm: "All programs and sessions will be deleted.\nAre you sure? "  %>   
  <i><b>Attention!!!</b> Tous les programmes, sessions et votes serons détruit. Les présentateurs sont déplacés en archive. </i>
</div>

