<%= content_for :sub_menu do %> 
  <%= link_to 'Editer', edit_propile_config_path(@propile_config) %> |
  <%= link_to 'Retour', propile_configs_path %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @propile_config.name %>
</p>

<p>
  <b>Valeur:</b>
  <%= @propile_config.value %>
</p>

<p>
  <b>Déscription:</b>
  <%= @propile_config.description %>
</p>


