<%= content_for :extra_info do %> 
  <i> Cette page est pour maintenance seulement </i>
<% end %>

<h1>Des statistiques</h1>
<h2>Revues</h2>
<div> <b>Sessions revues</b>: <%= @review_statistics.number_of_sessions_reviewed %> --- d'où <b><%=@review_statistics.percentage_of_sessions_reviewed%>%</b> du nombre total des sessions (<%=@review_statistics.total_number_of_sessions%>)</div>
<div> Nombre total des revue est de <%= @review_statistics.total_number_of_reviews %> </div>
<div> <b>Fait par</b> <%= @review_statistics.total_number_of_reviewers %> présentateurs --- d'où <b><%= @review_statistics.percentage_of_presenters_who_review %>%</b> du nombre total de présentateurs (<%= @review_statistics.total_number_of_presenters %>)</div>
<div>Combiens de revue nos présentateur ont fait: 
  <table>
    <tr>
      <th> #revues</th>
      <th> #présentateurs</th>
      <th> Qui</th>
    </tr>
    <% @review_statistics.number_of_reviews_by_presenters.each do |number_of_reviews_pair| %>
    <tr>
      <td> <%= number_of_reviews_pair[0] %>  </td>
      <td> <%= number_of_reviews_pair[1].size %>  </td>
      <td> <% number_of_reviews_pair[1].each do |reviewer|  %> 
           <%= link_to reviewer.name, reviewer %> -
           <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<h2>Session complétée</h2>
<div>Les sessions qui ont...</b></div>
<div> <b>une description courte</b>: <%= @session_completeness_statistics.with_short_description %> -- d'où  <%= @session_completeness_statistics.with_short_description_percentage %>%  </div>
<div> <b>Plan ou horaire</b>: <%= @session_completeness_statistics.with_outline_or_timetable %> -- d'où  <%= @session_completeness_statistics.with_outline_or_timetable_percentage %>%  </div>
<div> <b>Les champs importants remplis</b>: <%= @session_completeness_statistics.complete %> -- d'où'  <%= @session_completeness_statistics.complete %>%  
  <i>(fields: <%= Session.fields_that_need_to_be_complete_printable %> </i> </div>
<div> <b>Modifiées après avoir reçue une revue </b>: <%= @session_completeness_statistics.updated_after_review %> -- d'où'  <%= @session_completeness_statistics.updated_after_review_percentage %>% 
      <i>(ces sessions ont été modifiées ou commentées après leur dernière revue )</i> </div>

<h2>Présentateur complété</h2>
<div>Les Présentateurs qui ont...</b></div>
<div> <b>nom</b>: <%= @presenter_completeness_statistics.with_name %> -- d'où  <%= @presenter_completeness_statistics.with_name_percentage %>%  </div>
<div> <b>bio</b>: <%= @presenter_completeness_statistics.with_bio %> -- d'où  <%= @presenter_completeness_statistics.with_bio_percentage %>%  </div>

