<%= errors_for @program %>

<%= form_for(@program) do |f| %>
<br>
<br>
<div class="outlined">
  <table class="propertytable">
  <tr > <td><%= f.label :version %>      </td>
        <td><%= text_field :program, :version, :size => "100" %> 
            <i>seulement afficher dans la liste du programme</i></td></tr>
  <tr > <td><%= f.label :room_row %>     </td>
        <td><%= text_field :program, :room_row, :size => "3" %> 
            <i>Cette ligne contiens la description des salles pour les différents tracks</i></td></tr>
  <tr > <td><%= f.label :hour_column %>  </td>
        <td><%= text_field :program, :hour_column, :size => "3" %> 
            <i>Cet colonne contiens les heures de début des différents créneaux</i></td></tr>
  </table>
  <div >
    <%= f.submit "update properties" %>
  </div>
</div>

<% end %>





