<%= title @program.version %> 
<%= content_for :sub_menu do %> 
    <%= link_to 'Show', @program %>
<% end %>
<%= content_for :extra_info do %> 
  <i> Cette page est pour les modérateurs seulement </i>
<% end %>
<%= content_for :created_and_modified do %> 
  Créé le: <%= l @program.created_at %> -- 
  Modifié le: <%= l @program.updated_at %> 
<% end %>

<h3>Info for this program version <%= collapse_button ("programInfo") %> </h3>
<div id="programInfo" style="display:none;">
  nombre de présenteurs: <%= @program.presentersInProgram.size %> <br />
  nombre de sessions: <%= @program.sessionsInProgram.size %> <br />
  <%= link_to 'Export CSV', csv_program_path %> 
    <i> N°, Créneau, Track, Titre, Sous-titre, Présenteurs, Type, Sujet, Durée</i><br />
  <%= link_to 'Materials CSV', materials_csv_program_path %> 
    <i> N°, Titre, Salle, Heure, Max de participants, PC portable demandé, Autres limitations, Configuration de la salle, Materiels nécessaires, Publique visé </i><br />
  <hr />
</div>
<br />

<h3>Choses imprimable pour cette version du programme  <%= collapse_button ("programPrintStuff") %> </h3>
<div id="programPrintStuff" style="display:none;">
  Descriptions de Session: <i>description longue, un A4 pour chaque session, nous pouvons la mettre sur le mur </i><br />
  Carte de Session: <i>description courte sur une carte A6 , nous pouvons le mettre sur le programme papier</i> <br />
  <i>Imprimer alors par sujet (coleur) ou tout (pour vérifier si tout est ok)</i>
  <table class="tablelist">
    <tr>
      <th > Descriptions de Session (PDF)</th>
      <th > Carte de Session (PDF) </th>
      <th > &nbsp; </th>
    </tr>
    <% for topic in Session::AVAILABLE_TOPICS do 
         topic_name = Session.topic_name(topic)
    %> 
      <tr>
        <td class="<%=topic%>"> 
          <%= link_to topic_name, controller: 'programs', action: 'show', id: @program.to_param, topic: topic, format: "pdf" %> </td>
        <td class="<%=topic%>"> 
          <%= link_to topic_name, controller: 'programs', action: 'program_board_cards', id: @program.to_param, topic: topic, format: "pdf" %> </td>
        <td class="<%=topic%>"> <%= @program.program_entries_for_topic(topic).size %> </td>
      </tr>
    <% end %> 
    <tr>
      <td><%= link_to 'tout', controller: 'programs', action: 'show', id: @program.to_param, format: "pdf" %> </td>
      <td><%= link_to 'tout', controller: 'programs', action: 'program_board_cards', id: @program.to_param, format: "pdf" %> </td>
      <td> <%= @program.sessionsInProgram.size %> </td>
    </tr>
  </table>
  <hr>
</div>
<br />

<h3>Modifier cette version de programme <%= collapse_button_initially_open ("programMatrix") %> </h3>
<div id="programMatrix" style="display:block;">
  <%= render 'programs/program_matrix', :program => @program, :editable => true %>
</div>
<br />

<h3>Program properties <%= collapse_button ("programProperties") %> </h3>
<div id="programProperties" style="display:none;">
  <%= render 'form' %>
  FAP moyen = <%= @program.avgpaf.nil? ? "non encore calculaté" : @program.avgpaf %> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
  <%= link_to '(re-)calculer le FAP de ce programme', controller: 'programs', action: 'calculate_paf', id: @program.to_param %>   
</div>
<br />

