<h3><%= @greeting %></h3>

<p>Merci d'avoir déposé le sujet <strong><%= @session.title %></strong></p>

<p>Nous aimerions vous inviter à ajouter plus de détails sur votre proposition,
puis à l'améliorer lorsque vous recevrez du feedback. 
</p>
<p>
Vous êtes également invité à participer à notre process de revue collaborative des autres propositions, tandis que les autres orateurs réviserons votre proposition.
</p>

<p>Merci de vous <%= link_to "connecter", account_response_session_url(@login_guid) %> et de vous joindre à nous pour faire aux autres le merveilleux cadeau du feedback.</p>

<p>Si vous avez le moindre problème (ou question), <a href="mailto:<%= Propile::Application.mail_sender %>">écrivez-nous</a>. </p>

<p>Bravo et merci,</p>

<p>L'équipe d'orga</p> 

<hr>
<div align="right" style="font-size:10px;"> (<%= Propile::Application.version %>) </div>
