<%= title "" %>

<%= content_for :sub_menu do %> 
<% end %>

<%= content_for :created_and_modified do %> 
<% end %>

<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">

  <% if @presenter.reviews.empty? %>
    <br/> <br/>
    <div class="outlined">
      Nous attendons des orateurs qu'ils s'aident les uns les autres à enrichir leurs propositions de sessions, en se <b>donnant du feedback</b>.<br/>
      Si tout le monde joue le jeu, la qualité globale des sessions augmentera de manière transparente et collaborative, ce qui serait quand même vachement cool !
    </div>
    <div class="flashy">
      Lancez-vous à l'eau, <a href='/sessions'>faites votre premier feedback</a> !!! 
    </div>
  <% end %>

  <% if !@presenter.name_filled_in? || @presenter.bio.blank? %>
    <br/> <br/>
    <div class="outlined">
      <% if !@presenter.name_filled_in? %> Renseigne ton nom ! <% end %>
      <% if @presenter.bio.blank? %> Complète ta description ! <% end %>
      Tu peux le faire sur <%= link_to "ta page de profil", current_account.presenter %>.
    </div>
  <% end %>

    <% if !@presenter.twitter_id.present? && !@presenter.profile_image.present? && !@presenter.website.present? %>
    <div class="outlined">
      Tu peux ajouter une image, un lien vers ta page perso et ton profil twitter sur <%= link_to "ta page de profil", current_account.presenter %>.
    </div>
    <%  end %>

  <% @presenter.sessions.each do |session|  %>
    <%  if session.has_new_review?  %>
      <br/> <br/>
      <div class="outlined">
        Tu as reçu un <b>nouveau feedback</b> sur ta session <%= link_to session.title, session%>. 
        Jette un œil dessus et améliore ta session, et surtout pense à laisser un commentaire à ton relecteur pour lui expliquer ce que tu as modifié et pourquoi.
      </div>
    <% end %>
  <% end %>

  <% @presenter.sessions.each do |session|  %>
    <%  if !session.complete?  %>
      <br/> <br/>
      <div class="outlined">
        Des champs importants ne sont pas renseignés dans ta session <%= link_to session.title, session%>. 
        Peux-tu la <b>mettre à jour</b>, pour aider les relecteurs et le comité de sélection à y voir plus clair. 
      </div>
    <% end %>
  <% end %>

  <h3>Sessions dans lesquelles tu t'es impliqué : </h3>
  <div><i> Voici les sessions que tu as proposées, relues et enrichies ou commentées.</i></div>
  <%= render 'sessions/activity_index', :sessions => @sessions_you_are_involved_in, :sortable => false  %>

</div>

<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">

  <% if PropileConfig.voting_active?  %> 
    <div ">
      <div class="flashy">
        Il est maintenant possible de voter !
      </div>
      <%= render :partial=>'votes/rules' %>
      <h3>Tes votes </h3>
      <div><i>(ces informations ne sont pas publiques)</i></div>
      <% if @presenter.votes.empty? %> 
        Tu n'as pas encore voté.
      <% else %> 
        <%= render 'votes/index_for_one_voter', :votes => @presenter.votes  %>
      <%end%> 
      <hr>
      </div>
  <%end%> 

  <% if !@sessions_that_need_a_review.empty? %>
    <h3>Ces sessions n'attendent que ton feedback !</h3>
    <div><i> Ces sessions n'ont pas encore été relues ou ont été proposées il y a moins d'une semaine.</i></div>
    <%= render 'sessions/index_with_short_desc', :sessions => @sessions_that_need_a_review, :sortable => false  %>
  <% end %>
</div>
<div style="clear:both"></div>
