<%= title @presenter.name %>

<%= content_for :sub_menu do %> 
  <%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: @presenter.to_param %> 
  <%= link_to 'Back to presenters', presenters_path %> 
  <br/>
  <% if current_account.maintainer? %>
    <i>(L'édition est possible seulement par le présentateur ou un modérateur)</i> 
  <% end %> 
<% end %>

<%= content_for :created_and_modified do %> 
  Créé le: <%= l @presenter.created_at %> -- 
  Modifié le: <%= l @presenter.updated_at %> 
<% end %>

  <% if @presenter.profile_image.present? %>
  <img class="profile" src="<%=  @presenter.profile_image%>" alt="<%=  @presenter.name %>"/>
  <% end %>

<div> <%= @presenter.email %> </div>
<%if @presenter.website.present? %>
<div>Website: <a href="<%= @presenter.website %>" target="_blank"> <%= @presenter.website %> </a></div>
<% end %>

<%if @presenter.twitter_id.present? %>
<div>Twitter: <a href="https://twitter.com/<%= @presenter.twitter_id %>" target="_blank"> <%= @presenter.twitter_id %> </a></div>
<% end %>

<% if current_account.maintainer? %>
  <div> <i>modérateur: <%= @presenter.account.maintainer? %> <br> </i> </div>
  <div> <i>dernière connexion le: <%= @presenter.account.last_login %> <br> </i> </div>
<% end %>
<hr style="clear:both;">

<div class="lessoutlined"> 
  <%= wikinize(@presenter.bio) %> 
</div>


<hr>

<% if @you_are_current_user==true && PropileConfig.voting_active?  %> 
  <h2>Vos votes </h2>
  <div><i>(vous ne pouvez voir que cela)</i></div>
  <% if @presenter.votes.empty? %> 
    Vous avez déjà voté.
  <% else %> 
    <%= render 'votes/index_for_one_voter', :votes => @presenter.votes  %>
  <%end%> 
  <br/>
  <hr/>
<%end%>

<% if @show_presenter_active  %>
<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">
  <h2>Sessions soumis par <%= @presenter.name  %> </h2>
  <%= render 'sessions/index_simple', :sessions => @presenter.sessions, :sortable => false  %>
</div>
<% end %>
<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">
  <h2>Sessions revu par <%= @presenter.name  %> </h2>
  <%= render 'sessions/index_simple', :sessions => @sessions_reviewed_by_you, :sortable => false  %>
</div>

<div style="clear:both"></div>

