<%= title "Listing reviews" %>
<%= content_for :sub_menu do %> 
  <%= link_to 'Back', "/" %>
<% end %>

<table class="tablelist">
  <tr>
    <th>Session</th>
    <th>Revue par</th>
    <th>Note</th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.session && w(review.session.title) %></td>
    <td><%= w review.presenter.name %></td>
    <td><%= review.score %></td>
    <td><%= link_to 'Voir', review %></td>
    <td><%= guarded_link_to 'Editer', controller: 'reviews', action: 'edit', id: review  %></td>
    </tr>
<% end %>
</table>

<br />

