<!DOCTYPE html>
<html>
  <head>
    <title>Appel à Orateurs Agile Grenoble 2014 (Propile)</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <% if signed_in? %>
      <%= auto_discovery_link_tag(:rss,controller: 'sessions', action: 'activity_rss', format: :xml) %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= image_tag "logo_ag_v3_black_square_100.png", :size => "100x100" %>

      <div class="menu">
      <nav id="header-navigation">
        <% if signed_in? %>
          <%= "Connecté en tant que" %>&nbsp;<%= link_to current_account.email , current_account.presenter %>
          <%= current_account.maintainer? ? "(maintainer)" : "" %>
          &nbsp;|&nbsp;
          <%= link_to 'Changer de Mot de Passe', edit_account_password_path %>&nbsp;|&nbsp;
          <%= link_to 'Déconnexion', account_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Connexion', new_account_session_path %>
        <% end %>
      </nav>

      <nav id="main-navigation">
        <ul>
          <%= menu(request) do |m| %>
            <% m.tab("Accueil", 'pages') %>
            <% m.tab("Tableau de bord", "presenters#dashboard") %>
            <% m.tab("Sessions", "sessions") %>
        <% if @show_presenter_active  %>
            <% m.tab("Orateurs", "presenters") %>
        <% end %>

            <% m.tab("Proposer une session", "sessions#new") %>
            <% m.tab("Votes", "votes") %>
            <% m.tab("Programmes", "programs") %>
            <% m.tab("Configuration", "propile_configs") %>
            <% m.tab("Statistiques", "propile_configs#statistics") %>
          <% end %>
        </ul>
      </nav>
    </div>
    <br/>
    <div class="submenu"> <%= yield :sub_menu %> </div>
    <div > <%= yield :extra_info %> </div>
    <div class="title">
      <h1><%= yield :title %></h1>
      <section id="flash_messages">
        <%= flash_tags %>
      </section>
    </div>

    <%= yield %>

    <div class="alignright"> <%= yield :created_and_modified %> </div> 
    <hr/>
    <div class="submenu"> <%= yield :sub_menu %> </div>
    <div class="alignright"> 
      <a href="mailto:<%= Propile::Application.mail_sender %>">Problèmes ou questions
      (<%= Propile::Application.version %>)
      </a> 
    </div> 
  </body>
</html>
